body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; 
  background: #2C2B3D;
  min-height: 100vh;
}

.page {
  width: 1092px;
  margin: 0 auto;
  padding-top: 71px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 71px;
}

ul {
  list-style: none;
  display: flex;
  gap: 64px;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none; 
}


ul li a {
  opacity: 0.5;
  font-size: 14px;

}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

h1, ul {
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content:space-between;
  height: 283px;
}

section h1 {
  font-size: 36px;
  line-height: 56px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 30px;
}

 h1 span,  p span {
  color: #89C5CC;
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section p {
  color: #c2c2c2;
  width: 604px;
  line-height: 28px;
}

footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 80px;
  color: #FFFFFF;
  font-family: 'JetBrains Mono', monospace;
}

.line {
  width:568px;
  height: 0px;
  border: 1px #00BFA6 solid;
  margin: 0 auto 37px;
}

#padlock {
  position: fixed;
  bottom: 0;
  left: 20px;
  margin-bottom: 20px;
}